doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header
        header.header
          h1 #{title}
      block content
      div.container
          h2#label Tweet ID:
          div.tweetBox
              input#inputBox(type='text' name='Tweet ID #')
              button#next.button-next Next Tweet
              p#tweetText
              button#rel.relevant Relevant
              button#irr.irrelevant Irrelevant
          script.
            var data = !{JSON.stringify(data)};
            var maxLength = data.length;
            var curIndex = 0
            function nextItem() {
              if (curIndex < maxLength){
                document.getElementById("label").innerHTML= "Current Tweet ID: " + curIndex
                document.getElementById("tweetText").innerHTML = data[curIndex].tweet
                curIndex++
              }
             }
             function relClick(){
               var xhr = new XMLHttpRequest();
               var newData = {'tweet':data[curIndex-1].tweet,'relevant':1};
               var jsonData = JSON.stringify(newData);
               xhr.open("POST","/",true);
               xhr.setRequestHeader('Content-type','application/json');
               xhr.send(jsonData);
               console.log("Clicked Relevant")
               nextItem();
             }
             function irrClick(){
               var xhr = new XMLHttpRequest();
               var newData = {'tweet':data[curIndex-1].tweet,'relevant':0};
               var jsonData = JSON.stringify(newData);
               xhr.open("POST","/",true);
               xhr.setRequestHeader('Content-type','application/json');
               xhr.send(jsonData);
               console.log(jsonData);
               console.log("Clicked Irrelevant")
               nextItem();
             }
             rel.addEventListener('click',relClick);
             irr.addEventListener('click',irrClick);
             next.addEventListener('click', nextItem);
