doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header
        header.header
          h1 #{title}
      block content
      div.container
          h2#label Tweet ID:
          div.tweetBox
              input#inputBox(type='text' name='Tweet ID #')
              button#next.button-next Pull Tweet
              p#tweetText
              button#rel.relevant Relevant
              button#irr.irrelevant Irrelevant
          script.
            var data = !{JSON.stringify(data)};
            function nextItem() {
              data = !{JSON.stringify(data)};
              //- console.log("The new data is:");
              //- console.log(data[0]);
              data = data[0];
              if (data){
                //- document.getElementById("label").innerHTML= "Current Tweet ID: " + curIndex
                document.getElementById("tweetText").innerHTML = data.tweet
              }
             }
             function newItem(passed){
               console.log(passed);
               document.getElementById("tweetText").innerHTML = passed.tweet
             }
             function relClick(){
               var xhr = new XMLHttpRequest();
               var newData = data;
               newData['relevant'] = 1;
               var jsonData = JSON.stringify(newData);
               xhr.open("POST","/",true);
               xhr.setRequestHeader('Content-type','application/json');
               xhr.send(jsonData);
               console.log("Clicked Relevant");
               xhr = new XMLHttpRequest();
               xhr.open("GET","/",true); 
               xhr.send();
               xhr.onload = function(){
                 var check = JSON.parse(xhr.response);
                 data = (check['ndata'][0]);
                 newItem(data);
               };
               
             }
             function irrClick(){
               var xhr = new XMLHttpRequest();
               var newData = data;
               newData['relevant'] = 0;
               var jsonData = JSON.stringify(newData);
               xhr.open("POST","/",true);
               xhr.setRequestHeader('Content-type','application/json');
               xhr.send(jsonData);
               console.log("Clicked irrelevant");
               xhr = new XMLHttpRequest();
               xhr.open("GET","/",true); 
               xhr.send();
               xhr.onload = function(){
                 var check = JSON.parse(xhr.response);
                 data = (check['ndata'][0]);
                 newItem(data);
               };
             }
             rel.addEventListener('click',relClick);
             irr.addEventListener('click',irrClick);
             next.addEventListener('click', nextItem);
